{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <form>
            <h3 class="font-weight-light mt-4 mb-4">Youtube MP3DL</h3>
            <p class="content font-weight-light">With this converter, you are able to get high quality mp3 audio files and mp4 video files, free of charge.</p>
            <p class="content font-weight-light">Simply provide the URL for the YouTube video (current build supports non-playlist only) in the Download page, and click the mp3 button for an audio file, or mp4 for a video file.</p>
        </form>
    </div>
{% endblock content %}